{% block test %}
    <div class="item row {{ category.name }}-item {% if product.type != "" %}{{ product.type|replace({' ': ''}) }}-type-item{% endif %}">
        <div class="col-xs-8 content">
            <div class="row" style="height:50%">
                <div class="col-xs-8 title">{{ product.name }}</div>
                <div class="col-xs-4 price">{{ product.price }}€</div>
            </div>
            <div class="row"  style="height:50%">
                <div class="col-xs-8 description">
                    {{ product.description }}
                </div>
                <div class="col-xs-4 operations">
                                      <span class="minus">
                                           <i class="far fa-minus-square"></i>
                                      </span>
                    <input type="text" value="0" disabled>
                    <span class="more">
                                        <i class="far fa-plus-square"></i>
                                      </span>
                </div>
            </div>
        </div>
        <div class="col-xs-4 img" style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3nmNYciiNtxsaTjnGkDAFK56kCz7V9pHALOEvw-A-pV0u-0EF')">
        </div>
    </div>
{% endblock %}
