<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="{{ asset('css/cart/main.css') }}" media="screen" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/style-portfolio.css') }}">
    <link rel="stylesheet" href="{{ asset('css/picto-foundry-food.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ asset('favicon-1.ico') }}" type="image/x-icon">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <script src="{{ asset('js/cart/Carrito.js') }}"></script>
    <script src="{{ asset('js/cart/Producto.js') }}"></script>
    <style>
        body,html {
            height:100%;
        }
        .cart-open {
            position: fixed;
            bottom:50px;
            right:50px;
            cursor: pointer;
            z-index:99;
        }
        .all {
            height:100vh;
            width:100vw;
            overflow:hidden;
        }
        .cart-barra {
            overflow-y: scroll;
            height:100%;
            position:absolute;
            right:0;
            overflow-x:hidden;
        }
        .gestion {
            position:absolute;
            height:100%;
        }
        .gestion .pendiente_pago {
            height:50vh;
            border-bottom:1px solid #f49738;
        }
        .gestion .solicita_camarero {
            height: 50vh;
            border-top:1px solid #f49738;
        }
        .wrapp1 {
            background:white;
            overflow: hidden;
            height:100%;
            width:100%;
            padding:30px;
            display:flex;
            flex-flow: row wrap;
            justify-content : flex-start;
            align-items: flex-start;
        }
        .order {
            border:1px solid #676767;
            display:flex;
            flex-flow: column;
            width:auto;
            height:auto;
            margin:15px;
            box-shadow: 10px 10px 23px -6px rgba(0,0,0,0.75);
        }

        .order .order-id {
            background: #676767;
            color:#f49738;
            padding:15px;
            font-size:30px;
            text-align:right;
        }
        .order .order-products {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: repeat(6, auto);
            padding:15px;
            font-family: 'Barlow Semi Condensed', sans-serif;

        }
        .order .order-products .product{
            min-width:200px;
            font-size:30px;
        }
        .kitchen-actions {
            display:flex;
            flex-flow: row nowrap;
            border:1px solid black;
            height:70px;
            position:fixed;
            bottom:40px;
            right:40px;
        }
        .kitchen-actions .option {
            padding:15px;
            text-align: center;
            cursor:pointer;
        }
        .kitchen-actions .option.finished {
            background:green;
        }
        .kitchen-actions .option.delete {
            background:red;
        }
        .setpay {
            width:100%;
            background:#676767;
            color:white;
            font-weight: bold;
            text-align: center;
            padding:15px;
            cursor:pointer;
        }
        .pendiente_pago .text {
            font-size:30px;
            background:#f49738;
            padding:20px;
            color:white;
            width:100%;
            display:flex;
            font-weight: 700;
            align-items: center;
            font-family: 'Barlow Semi Condensed', sans-serif;
        }
        .pendiente_pago img {
            margin-right:20px;
        }
        .solicita_camarero img {
            margin-right:20px;
        }
        .solicita_camarero .text {
            font-size:30px;
            background:#f49738;
            padding:20px;
            color:white;
            font-weight: 700;
            width:100%;
            display:flex;
            align-items: center;
            font-family: 'Barlow Semi Condensed', sans-serif;
        }
    </style>
</head>

<body>
{#<div class="header">#}
    {#<img width="200" src="{{ asset('img/ProductsIMG/BSCK-01.png') }}">#}
{#</div>#}
<div class="container-fluid all">
    <div class="row">
        <div class="col-xs-6 gestion" style="border-right:1px solid #f49738;">
            <div class="row">
                <div class="col-xs-12 pendiente_pago">
                    <div class="row">
                      <div class="text">
                          <img width="100" src="{{ asset('img/ProductsIMG/BSCK-01.png') }}">
                          PEDIDOS PENDIENTES DE PAGO</div>
                    </div>
                    <div class="wrapp1">
                        {% for order in orders %}
                            <div class="order id_{{ order.id }}" data-id="{{ order.id }}">
                                <div class="col-xs-12 order-id">M:{{ order.client.tableObject.tableCode }}#{{ order.id }}</div>
                                <div class="order-products">
                                    {% for product in order.orderProducts %}
                                        <div class="product">{{ product.product.name }}   {{ product.quantity }}</div>
                                    {% endfor %}

                                </div>
                                <div class="setpay">
                                    Cobrar
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                    <script>
                        $(document).ready(function () {

                            setInterval(requestOrders,1000);
                            setInterval(requestHelpRequest,1000);
                            $('.finished').click(function () {
                                finishOrder($('.order.focus').attr('data-id'));
                            });
                            $('.setpay').click(function () {
                                changeStatus('pending', $(this).closest('.order').attr('data-id'));
                                $(this).closest('.order').remove();
                            });

                        });
                        function requestHelpRequest() {
                            $.ajax({
                                type: "POST",
                                url: '/getHelpRequest',
                                success : function(data) {
                                    addHelpRequest(data);
                                }
                            });
                        }
                        function addHelpRequest(data) {
                            $.each(data, function (i, val) {
                                if (validateNotExistRequest(val.id)) {
                                    console.log("aa");
                                    var appendRequest =  '    <div class="helpRequest request'+val.id+'" data-id="'+val.id+'">  '  +
                                        '                                   <div class="row">  '  +
                                        '                                       <div class="col-xs-12">  '  +
                                        '                                           MESA: '+val.fromTable.tableCode  +
                                        '                                       </div>  '  +
                                        '                                   </div>  '  +
                                        '                                   <div class="row">  '  +
                                        '                                       <div class="col-xs-12 attendedHelpRequest">  '  +
                                        '                                          Atender!  '  +
                                        '                                       </div>  '  +
                                        '                                   </div>  '  +
                                        '                              </div>  ' ;
                                    $('.wrapp2').append(appendRequest);
                                }
                            });
                        }
                        function validateNotExistRequest(id) {
                             return $('.request'+id).length == 0 ? true : false;
                        }
                        function requestOrders() {
                            $.ajax({
                                type: "POST",
                                url: '/getActiveOrders',
                                data: {
                                  'status': 'pending-pay'
                                },
                                success : function(data) {
                                    addOrders(data);
                                }
                            });
                        }
                        function changeStatus(status, id) {
                            $.ajax({
                                type: "POST",
                                url: '/changeStatus/'+id,
                                data: {
                                    'status': status
                                },
                                success : function(data) {
                                    addOrders(data);
                                }
                            });
                        }
                        function addOrders(data) {
                            $.each(data, function (i, val) {
                                if (validateNotExistOrder(val.id)) {
                                    var products = "";
                                    var appendOrder ="";
                                    $.each(val.orderProducts, function (i, val) {
                                        products += "<div class='product'>"+val.product.name+"   " +val.quantity+"</div>";
                                    });
                                    appendOrder =  '    <div class="order id_'+val.id+'" data-id="'+ val.id+'"> '  +
                                        '               <div class="col-xs-12 order-id">  '  +
                                        '                   M:'+val.client.tableObject.tableCode +'#'+ val.id +' '  +
                                        '               </div>  '  +
                                        '               <div class="order-products">  '  +
                                        products +
                                        '               </div>  '  +
                                            '  <div class="setpay">' +
                                        '                                    Cobrar' +
                                        '                                </div>' +
                                        '          </div>  ' ;
                                    $('.wrapp1').append(appendOrder);
                                }
                                $('.order').click(function () {
                                    $('.focus').removeClass('focus');
                                    $(this).addClass('focus');
                                });
                                $('.setpay').click(function () {
                                    changeStatus('pending', $(this).closest('.order').attr('data-id'));
                                    $(this).closest('.order').remove();
                                });
                            });
                        }
                        function validateNotExistOrder(id) {
                            return $('.id_'+id).length == 0 ?  true: false;
                        }
                        function finishOrder(id) {
                            $.ajax({
                                type: "POST",
                                url: '/finishOrder/'+id,
                                success : function() {
                                    $('.id_'+id).remove();
                                }
                            });
                        }
                    </script>
                </div>
                <div class="col-xs-12 solicita_camarero">
                    <div class="row">
                        <div class="text">
                            <img width="100" src="{{ asset('img/ProductsIMG/BSCK-01.png') }}">
                            SE SOLICITA CAMARERO</div>
                    </div>
                    <div class="wrapp2">
                        {% for singleHelp in helpRequest %}
                            <div class="helpRequest request{{ singleHelp.id }}" data-id="{{ singleHelp.id }}">
                                <div class="row">
                                    <div class="col-xs-12">
                                        MESA: {{ singleHelp.fromTable.tableCode }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 attendedHelpRequest">
                                       Atender!
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('.attendedHelpRequest').click(function () {
                attendHelpRequest($(this).closest('.helpRequest').attr('data-id'));
            });
            function attendHelpRequest(id) {
                $.ajax({
                    type: "POST",
                    url: '/attendHelpRequest/'+id,
                    success : function(data) {
                        //resetAll();
                    }
                });
            }
        </script>
        <div class="col-xs-6 cart-barra" style="border-left:1px solid #f49738;padding:0px;">
            <span class="wrapp">
                <div class="">
             <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="position:relative;margin-bottom:0;">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav main-nav  clear navbar-left " style="padding:0 30px;">
                        {% for category in categories %}
                            <li><a class="color_animation menu-item" data-href="{{ category.name }}">{{ category.name }}</a></li>
                        {% endfor %}

                    </ul>
                    <script>
                        $(document).ready(function () {
                            $('.menu-item').click(function () {
                                $('.cart-barra').animate({scrollTop:$('#'+$(this).attr('data-href')).offset().top-100}, 500);
                            });
                        });
                    </script>
                </div><!-- /.navbar-collapse -->
            </div>
    </nav>
                    </div>
                <!-- ============ Pricing  ============= -->
    <style>
        .category  {
            font-family: 'Barlow Semi Condensed', sans-serif;
            font-size:80px;
            padding:20px;
             margin-bottom:30px;
            background:#f49738;
            color:white;
            cursor:pointer;
        }
        .subtypes {
            text-align: right;
            display:flex;
            flex-flow: column;
            align-items: flex-end;
        }
        .subtypes .subtype {
            font-size:35px;
            margin:5px 0;
            border-bottom:2px solid white;
            font-family: 'Inconsolata', monospace;
        }
        .item {
            max-height: 250px;
            min-height: 250px;
            margin:30px 0px;
            -webkit-box-shadow: 10px 10px 23px -6px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 23px -6px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 23px -6px rgba(0,0,0,0.75);
            transition: all 1s;

        }
        .item.outOfStock {
            opacity:0.5;
            pointer-events: none;
        }
        .outOfStockProduct {
            display:none;
            position:absolute;
            font-size:40px;
            bottom:50px;
            margin:auto;
            text-align: center;
        //width:100%;
            left:40px;
            z-index:50;
        }
        .item.outOfStock .outOfStockProduct {
            display:block;
        }
        .item .img {
            background-repeat: no-repeat!important;
            background-size: contain!important;
            height:250px!important;
            background-position: 60% 50%!important;
        }
        .item .content {
            font-family: 'Barlow Semi Condensed', sans-serif;
            padding:20px;
            display:flex;
            flex-flow:column;
            justify-content:space-between;
            height:250px;
        }
        .content .title {
            font-size:50px;
            color: #676767;
        }
        .content .price {
            font-size:50px;
            color: #f49738;
            text-align: right;
            padding-right:30px;
        }
        .description {
            font-size:20px;
            font-family: 'Roboto', sans-serif;
            color:#676767;
        }
        .minus {
            margin:5px;
            font-size:30px;
            color:#9f191f;
            cursor: pointer;
        }
        .minus.disabled {
            opacity:0.4;
        }
        .more {
            margin:5px;
            font-size:30px;
            color:#255625;
            cursor: pointer;
        }
        .operations {
            display:flex;
            flex-flow:row nowrap;
            justify-content: flex-end;
            position:absolute;
            bottom:30px;
            right:20px;
        }
        .operations input {
            width:40px;
            text-align: center;
        }

    </style>

        <div class="">

            {% for category in categories %}
                {% set subCategories = [] %}
                {% for product in products %}
                    {% if category in product.category %}
                        {% if product.type not in subCategories and product.type != "" %}
                            {% set subCategories = subCategories|merge([product.type]) %}
                        {% endif  %}
                    {% endif %}
                {% endfor %}
                <div class="col-xs-12 category" id="{{ category.name }}" data-toggle="collapse" >
                     <div class="row">
                        <div class="col-xs-12 title">{{ category.name }}</div>
                     </div>
                     <div class="row">
                        <div class="col-xs-12 subtypes">
                            {% if subCategories is not empty %}
                                <div class="subtype " data-parent="{{ category }}" data-subCategory="">Todos</div>
                            {% endif %}
                            {% for subCategory in subCategories %}
                                <div class="subtype" data-parent="{{ category }}" data-subCategory="{{ subCategory|replace({' ': ''}) }}">{{ subCategory }}</div>
                            {% endfor %}
                        </div>
                     </div>
                 </div>
                <div class="col-xs-12 items" id="{{ category.name }}-items">
                  {% for product in products %}

                      {% if category in product.category %}
                          {{ block('test', "cart/blocks.html.twig") }}
                      {% endif %}
                  {% endfor %}
                </div>
            {% endfor %}
            <script>

                var carrito = new Carrito();

                $(document).ready(function () {
                    $('.contador').val(0);
                    $('.subtype').click(function () {
                        var category = $(this).attr('data-parent');
                        var subCategory = $(this).attr('data-subCategory');
                        if (subCategory == "") {
                            $('.' + category + '-item').show();
                        } else {
                            $('.' + category + '-item').not('.' + subCategory + '-type-item').hide();
                            $('.' + subCategory + '-type-item').show();
                        }
                    });

                    $('.more').click(function () {
                        var id = $(this).closest('.item').attr('data-id');
                        getProduct(id);
                    });
                    $('.minus').click(function () {
                        if (!$(this).hasClass('disabled')) {
                            var id = $(this).closest('.item').attr('data-id');
                            deleteFromCarrito(id);
                        }
                    });
                });

                function getProduct(id) {
                    $.ajax({
                        type: "POST",
                        url: ' getProduct/'+id,
                        success : function(data) {
                            createProduct(data)
                        }
                    });
                }

                function deleteFromCarrito(id) {
                    $.each(carrito.productos, function (i, val) {
                        if (val.id == id) {
                            val.downQuantity();
                            updateContador(val);
                        }
                    });
                    updateTotalPrice();
                }
                function createProduct(data) {
                    var pr = new Producto(data['id'],data['name'],data['description'],data['price']);
                    addProductToCarrito(pr)
                }
                function addProductToCarrito(product) {
                    var flag = true;
                    $.each(carrito.productos, function (i, val) {
                        if (val.id == product.id) {
                            val.upQuantity();
                            updateContador(val);
                            flag = false;
                        }
                    });
                    if(flag) {
                        product.upQuantity();
                        carrito.addProducto(product);
                        updateContador(product);
                    }
                    updateTotalPrice();
                }
                function updateContador(product) {
                    $('.item[data-id="'+product.id+'"] .contador').val(product.quantity);
                    enableOrDisableMinusButton($('.item[data-id="'+product.id+'"] .minus'), product);
                }
                function enableOrDisableMinusButton(object, product) {
                    product.quantity > 0 ? $(object).removeClass('disabled') : $(object).addClass('disabled');
                }
                function updateTotalPrice() {
                    carrito.totalPrice = 0;
                    for (var index in carrito.productos) {
                        carrito.totalPrice += parseInt(carrito.productos[index]['price'])*carrito.productos[index]['quantity'];
                    }
                }
                function openCart() {
                    $('.carrito-container').addClass('active');
                    $('.carrito-content').html(getCarritoHTML());

                }
                function getCarritoHTML() {
                    var stringFinal = "";
                    $.each(carrito.productos, function (i, val) {
                        stringFinal += '<div class="row">' +
                            '<div class="cart-item col-xs-12">' +
                            '<div class="row">'+
                            '<div class="col-xs-8 item-cart-title">'+
                            val.title+
                            '</div>'+
                            '<div class="col-xs-2 item-cart-operations">'+
                            '</div>'+
                            '<div class="col-xs-2 item-cart-price">'+
                            val.price+"€"+
                            '</div>'+
                            '</div>'+
                            '</div>'+
                            '</div>';
                    });
                    stringFinal +=  '<div class="row">' +
                        '<div class="cart-item-totalPrice col-xs-12">' +
                        '<div class="row">'+
                        '<div class="col-xs-8 item-cart-totalPrice-text">'+
                        "Precio total" +
                        '</div>'+
                        '<div class="col-xs-2 ">'+
                        '</div>'+
                        '<div class="col-xs-2 item-cart-totalPrice-number">'+
                        carrito.totalPrice+"€"+
                        '</div>'+
                        '</div>'+
                        '</div>';
                    return stringFinal;
                }
            </script>

            </div>

        <span class="cart-open" onclick="openCart()">
        <img height=75 width=75 src="{{ asset('img/cart/cart-icon.png') }}">
    </span>




        <style>
            .wrap {
                overflow:hidden;
            }
            .carrito-container {
                width:50vw;
                height:100vh;
                position: fixed;
                right:-100vw;
                top:0px;
                transition: all 0.8s;
                background:white;
                z-index:99;
                padding-top:70px;
                padding:40px;
            }
            .carrito-container.active {
                right:0;
            }
            .carrito-title {
                margin-top:50px;
                color:#9f191f;
                font-size:60px;
                font-family: 'Rubik Mono One', sans-serif;
                padding:0px;
                margin-bottom:30px;
            }
            .carrito-close {
                padding:0px;
                margin-top:50px;
                color:#9f191f;
                font-size:60px;
                font-family: 'Rubik Mono One', sans-serif;
            }
            .cart-item {
                margin:10px 0px;
                padding:0px 40px;
                border-bottom:1px dashed black;
            }
            .cart-item-totalPrice {
                padding:0px 40px;
            }
            .carrito-close i {
                float:right;
                cursor:pointer;
            }
            .item-cart-title {
                font-family: 'Patrick Hand SC', cursive;
                font-size:60px;
            }
            .item-cart-price, .item-cart-totalPrice-text, .item-cart-totalPrice-number {
                font-family: 'Patrick Hand SC', cursive;
                font-size:60px;
                text-align: right;

            }
            .cart-cupon {
                margin:40px 0;
                font-family: 'Gloria Hallelujah', cursive;
                font-size:30px;
            }
            .cart-cupon input {
                margin:0px 20px;
            }
            .cart-cupon i {
                color: #004571;
                font-size:30px;
            }
            .carrito-pagar {
                background-color:black;
                color:white;
                padding:20px;
                font-family: 'Rubik Mono One', sans-serif;
                font-size:30px;
                width:200px;
                text-align: center;
                margin:15px auto;
                cursor:pointer;
            }
            .pay-mode {
                width:auto;
                max-width: 40%;
                background:white;
                border-radius: 30px;
                text-align:center;
                padding:15px 30px;
                cursor:pointer;
                font-size:30px;
                font-family: 'Rubik Mono One', sans-serif;
                color:white;
            }
            .pay-mode i {
                margin:0 5px;
                color:white;
            }
            .cash-pay {
                float:left;
                background:#00cc66;
            }
            .credit-card-pay {
                float:right;
                background:black;
            }
        </style>



        <div class=" carrito-container">
            <div class="">
                <div class="row">
                    <div class="col-xs-8 carrito-title">
                        Resumen del pedido
                    </div>
                    <div class="col-xs-4 carrito-close">
                        <i class="fas fa-times" onclick="$('.carrito-container').removeClass('active')"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 carrito-content">

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 cart-cupon">
                        Introduce tu cupón <input type="text"><i class="fas fa-share"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="carrito-pagar" >Pagar</div>
                    </div>
                </div>
            </div>
        </div>
        </span>
    </div>
</div>
</div>


<script>
    function pagarModal() {
        carrito.totalPrice == 0 ? resetAll() : $('#payModal').modal('show');
    }
    function resetAll() {
        if (carrito.productos.length == 0 ) {
            alert('no as pedido na');

        } else {
            carrito = new Carrito();
            $('.carrito-container').removeClass('active');
            $("html, body").animate({ scrollTop: 0 }, 600);
            $('.minus').addClass('disabled');
            $('.contador').val(0);
            $('.carrito-content').html('');
        }
    }
    $('.carrito-pagar').click(function () {
        generateOrder('pending')
    });
    function generateOrder(status) {
        $.ajax({
            type: "POST",
            'data': {
                "carrito": JSON.stringify(carrito),
                'status': status,
            },
            url: '/generateOrder',
            success : function(data) {
                resetAll();
            }
        });
    }
</script>
<script type="text/javascript" src="{{ asset('js/main.js') }}" ></script>
</body>
</html>