<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Edit {{ table.tableCode }}</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    {{ form_start(form) }}
    <div class="box-body">
        <div class="form-group">
            <label>Table code</label>
            {{ form_widget(form.tableCode, {'attr': {
                'class': 'form-control',
                'placeholder': 'Enter table code',
            }}) }}
            <div class="form-error">
                {{ form_errors(form.tableCode) }}
            </div>
        </div>
        <div class="form-group">
            <label>Type</label>
            {{ form_widget(form.type, {'attr': {
                'class': 'form-control',
                'placeholder': 'Enter table type',
            }}) }}
            <div class="form-error">
                {{ form_errors(form.type) }}
            </div>
        </div>
        <div class="form-group">
            <label>Enabled: </label>
            {{ form_widget(form.enabled, {'attr': {
                'class': 'flat-green'
            }}) }}
            <div class="form-error">
                {{ form_errors(form.enabled) }}
            </div>
        </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
        <div style="float:right;">
            <a class="btn btn-danger" role="button" href="{{ path('table_index') }}">Back to list</a>
            <button type="submit" class="btn btn-success">{{ button_label|default('Save') }}</button>
        </div>
    </div>

    {{ form_end(form) }}
</div>